* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}


.mid {
	min-height: 90vh;
	display: flex;
	flex-wrap: wrap;
	
}


#maschotte{
	height : 50rem;
	width : 50rem;
	flex : 1 1 40rem;
	
}


.justaimg{
	background-image: linear-gradient(rgba(0,0,0,0.5), transparent) , url("../icons/bkgrd.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	
}

.account h2{
	margin: 2rem 0rem;
	text-align: center;
	color : white
}


.account {
	flex : 5 1 40rem;
	padding: 2rem;
	width: 70%;
	margin: 2rem;
}

.account img {
	width: 5rem;
	height : 5rem;
}

.account li{
	border: 0.1rem solid black;
	border-radius: 2rem;
  	padding: 1rem;
  	margin-bottom: 1rem;
	list-style: none;
	background-color: white;
	display:flex;
	align-items:center;
}

.account a{
	opacity: 0.5;
}

.account a:hover{
	opacity: 1;
	
}

