@charset "ISO-8859-1";

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Poppins", sans-serif;
}

h2{
	padding-bottom: 2rem;
}

#container{
	padding: 5rem;
	overflow-x: auto;
}

table{
	width: 100%;
	border-collapse: collapse;
	table-layout: fixed;
	white-space: nowrap;
}

thead{
	border-bottom: 1px solid black;
	font-weight: 700;
}

td{
	padding: 6px 0;
	text-align: center;
	border-bottom: 1px solid grey;
}

.trash{
	height: 30px;
	opacity: 60%;
}

.trash :hover{
	opacity: 1;
}

/* PROMO E TOTALE */

#bottom{
	margin: 5rem;
}

.row {
	display: flex;
	justify-content: space-between;
}

.row h5{
	margin-bottom: 1rem;
}

.promozione, .cassa{
	border: 1px solid #b6b3b3;
	padding: 1rem 3rem;
	border-radius: 2rem;
}


.cassa {
	width: 30rem;
}

.totale {
	display: flex;
	justify-content: space-between;
}