@charset "ISO-8859-1";

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
}

main {
	display: flex;
	min-height: 90vh;
}

#container {
	width: 100%;
	display: flex;
}

#container td {
	padding: 0.5rem;
}

label {
	margin: 1rem;
}
/* FILTRI */
#filtri {
	border-radius: 12px;
	padding: 2rem;
	margin: 2rem;
	box-shadow: 1em 1rem 1rem rgba(1, 2, 68, 0.2);
	height: 147rem;
	min-width: 30rem;
	min-width: 20vw;
}

/* SCHEDE PRODOTTO */
#prodotti {
	min-width: 90vw;
	min-width: 79vw;
	flex-wrap: wrap;
	padding: 2rem;
}

#schedeProdotto {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
	grid-gap: 40px;
	grid-gap: 4rem;
	justify-content: center;
	margin: 1rem;
}

.scheda {
	border-radius: 12px;
	background-color: rgba(255, 255, 255, 0.8);
	color: #21201e;
	text-align: center;
	width: 24rem;
	max-width: 24rem;
	height: 40rem;
	margin: 2rem 1rem;
	padding: 2rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	box-shadow: 1em 1rem 1rem rgba(1, 2, 68, 0.2);
}

.scheda img {
	max-height: 19rem;
	margin: 1rem;
	transition: all 0.3;
}

.info a {
	display: inline-block;
	margin-top: 20px;
	padding: 8px 20px;
	background: #ff6f88;
	color: #fff;
	border-radius: 40px;
	font-weight: 500;
	letter-spacing: 1px;
	text-decoration: none;
	transition: background 0.5s ease-in-out;
}

.info a :hover {
	background: #b71543;
}

@media ( min-width : 769px) {
	#filtroBottone {
		display: none;
	}
}

@media ( max-width : 768px) {
	#container {
		flex-direction: column;
		align-items: center;
	}
	#filtri {
		display: none;
	}
	#filtroBottone {
		display: block;
		margin: 2rem;
		padding: 1rem;
		background: #ff6f88;
		color: #fff;
		border-radius: 40px;
		font-weight: 500;
		letter-spacing: 1px;
		text-decoration: none;
		transition: background 0.5s ease-in-out;
		cursor: pointer;
	}
	#prodotti {
		padding-top: 1rem;
	}
	#schedeProdotto {
		justify-items: center;
	}
}