@charset "ISO-8859-1";

section{
	min-height: 68.6vh;
	padding: 5rem 3rem;
	overflow-x: auto;
	margin-bottom: 6rem;
}

h2{
	padding-bottom: 2rem;
}

table{
	width: 100%;
	border-collapse: collapse;
	table-layout: fixed;
	white-space: nowrap;
	background-color: rgba(255, 255, 255, 0.8);
	border-radius: 12px;
}

thead{
	border-bottom: 1px solid black;
	font-weight: 700;
}

td{
	padding: 6px 0;
	text-align: center;
	border-bottom: 1px solid grey;
}

/* SEZIONE FILTRI */

#filtri{
	margin-bottom: 2rem;
}

label{
	font-size: 80%;
}

.user-search{
	justify-content: space-between;
	align-items: center;
}