* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
}

h1 {
	font-size: 2.6rem;
}

li, button, label, input, p {
	font-size: 2rem;
}

h2 {
	font-size: 4.8rem;
}

h3 {
	font-size: 3rem;
	font-weight: normal;
}

h4, h5 {
	font-size: 2.8rem;
}

main {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 90vh;
}

#login {
	margin-top: 2rem;
	min-width : 40vw;
	min-height: auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: rgba(255, 255, 255, 0.8);
	box-shadow: 0.5em 0.3em 1em rgba(1, 2, 68, 0.1);
	border-radius: 12px;
	padding: 2rem;
}


#login-img {
	
	display: flex;
	justify-content: center;
	margin-bottom: 3rem;
}

#login-img img {
  	max-width: 100%;
	margin: 0 3rem;
	margin-top: 5rem;
	border-radius: 12px;
	height: 30rem;
}

#login h3 {
	padding: 2rem;
}

.login-form {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 2rem;
	width: 70%;
}

.login-form input {
	padding: 1.5rem 4rem;
	margin: 1rem;
}

.login-form button {
	border: none;
	font-size: 1.8rem;
	min-width: 20%;
	padding: 1rem;
	margin: 1rem;
	border-radius: 2rem;
	background-color: #ff6f88;
	cursor: pointer;
	transition: background 0.5s ease-in-out;
}

.login-form button:hover {
	background: #c83c54;
}

.links {
	width: 50%;
	margin: 2rem;
	margin-bottom: 5rem;
	display: flex;
	justify-content: space-between;
}

.links p {
	text-align: center;
}

/*Media Query*/
/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/


@media (min-width: 1025px) and (max-width: 1280px) {
  
  	html {
		font-size: 50%;
	}
	
	#login {
		min-width : 40vw;
		padding: 2rem;
	}




}


@media (min-width: 768px) and (max-width: 1024px) {
  
  html {
		font-size: 45%;
	}
	
	#login {
		min-width : 30vw;
		padding: 2rem;
	}
}

/* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  
    
  html {
		font-size: 45%;
	}
	
	#login {
		min-width : 30vw;
		padding: 2rem;
	}

  
}

/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {
  
      
  html {
		font-size: 45%;
	}
	
	#login {
		min-width : 30vw;
		padding: 2rem;
	}


  
}

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (max-width: 480px) {
  
   html {
		font-size: 45%;
	}
	
	#login {
		min-width : 50vw;
		padding: 4rem;
	}
	
	

  
}
