* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body{
	font-size: 2rem;
}


#articles{
	min-height: 90vh;
	display: flex;
	align-items: center;
	flex-direction:  column;
}

#scheda-news h1{
	text-align: center;
}

.scheda{
	min-height: 40rem;
	width: 80vw;
	padding: 2rem 4rem;
	border-radius: 4rem;
	margin-top: 2rem;
	position: relative;
	background-color: #fff;
	box-shadow: 3px 6px 14px #0000001a;
	border-top: 5px solid #ff1552;
	
}

.scheda img{
	height: 30rem;
	float: left;
	margin-right: 10px;
}
