@charset "ISO-8859-1";

body > h2{
	text-align: center;
	margin-top: 3rem;
}

#container{
	min-height: 68.4vh;
}

.ordine{
	margin: 5rem 3rem;
	background: #fff;
	border-radius: 12px;
	box-shadow: 1em 2em 2.5em rgba(1, 2, 68, 0.08);
}
.ordine > h3{
	padding: 1rem 3rem;
	background: #ff6f88;
}

.product{
	display: flex;
	padding: 1rem 3rem;
}

.orderImg{
	max-height: 13rem;
	padding-right: 2rem
}
